<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= @customer.errors.count %> error prohibited this obj from being saved:</h2>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>会員情報編集</h2>

      <%= form_with model: @customer, url: customers_path(@customer.id), method: :patch do |f| %>
        <table class="customer_info customer_form">
    			<thead>
    				<th></th>
    				<th></th>
    				<th></th>
    			</thead>
    			<tbody>
    			  <tr>
    			    <td>氏名</td>
    			    <td><%= f.text_field :last_name, autofocus: true, id:"last_name", placeholder:"名前"%></td>
               <td><%= f.text_field :first_name, autofocus: true, id:"first_name", placeholder:"名前"%></td>
    			  </tr>
    			  <tr>
    			    <td>フリガナ</td>
    			    <td><%= f.text_field :last_name_kana, autofocus: true, id:"last_name_kana", placeholder:"名前"%></td>
              <td><%= f.text_field :first_name_kana, autofocus: true, id:"first_name_kana", placeholder:"名前"%></td>
    			  </tr>
    			  <tr>
    			    <td>郵便番号</td>
    			    <td colspan="2"><%= f.text_field :postal_code, autofocus: true, id:"customer_postal_code"%></td>
    			  </tr>
            <tr>
    			    <td>住所</td>
    			    <td colspan="2"><%= f.text_field :address, autofocus: true, id:"customer_address"%></td>
    			  </tr>
            <tr>
    			    <td>電話番号</td>
    			    <td colspan="2"><%= f.text_field :telephone_number, autofocus: true, id:"customer_telephone_number"%></td>
    			  </tr>
            <tr>
    			    <td>メールアドレス</td>
    			    <td colspan="2"><%= f.email_field :email, autofocus: true, id:"customer_email"%></td>
    			  </tr>
            <tr>
              <td colspan="2"><%= f.submit '編集内容を保存', class:'btn btn-secondary' %></td>
              <td><%= link_to "退会する", unsubscribe_path, method: :get, class: "btn btn-danger" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>