<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="section-ttl">マイページ</h2>
      <h3>登録情報</h3>
      <tr>
        <th>
          <%= link_to '編集する',customers_edit_path, class: "btn btn-success" %>
        </th>
      </tr>
      <table class="table">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>氏名</td>
            <td>(姓)<%= @customer.last_name %></td>
            <td>(名)<%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td>(セイ)<%= @customer.last_name_kana %></td>
            <td>(メイ)<%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td colspan="2"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="2"><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td colspan="2"><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td colspan="2"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>