<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %> error prohibited this obj from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>投稿編集</h2>

      <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :商品画像 %><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        
        <div class="form-group">
          <%= f.label :投稿場所 %><br>
          <%= f.text_field :post_place, placeholder:"投稿場所"%>
        </div>
        
        <div class="form-group">
          <%= f.label :レビュー %><br>
          <%= f.text_area :introduction, autofocus: true, id:"post_introduction" %>
        </div>
        <div id="star-rate">評価</div> 
          <script>
            var elem = document.getElementById('star-rate');
            var opt = {
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              scoreName: 'post[star]',
              half      : false,
             score: <%= @post.star %>,
            };
          
          raty(elem, opt);
          </script>
        
        <div class="form-group">
          <%= f.submit '変更を保存', class:'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>