<div class="col-md-8 offset-md-1">
  
  <h2>投稿一覧</h2>
  <h3>全<%= @posts.count %>件</h3>
  <table class="table table-hobver table-inverse">
    <thead>
      <tr>
        <th>投稿日時</th>
        <th>投稿場所</th>
        <th>レビュー</th>
        <th>氏名</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post_path(post) do %>
              <%= post.created_at %>
            <% end %>
          </td>
          <td><%= post.post_place %></td>
          <td>
            <div id="star-rate"></div> 
              <script>
                var showElem = document.getElementById('star-rate');
                var showOpt = {
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    scoreName: 'post[star]',
                    half      : false,
                   readOnly: true,
                   score: <%= post.star %>,
                  };
          
                raty(showElem, showOpt);
              </script>
             
          </td>
          <td><%= post.customer.last_name %><%= post.customer.first_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
