<div class="col-md-8 offset-md-1">
  <table class="table table-hobver table-inverse">
    <thead>
      <tr>
        <th>コメント日時</th>
        <th>コメント内容</th>
        <th>コメント者</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= comment.created_at %>
          </td>
          <td>
            <%= comment.customer.last_name %><%= comment.customer.first_name %>
          </td>
          <td><%= comment.content %></td>
          <% if comment.customer == current_customer %>
            <td><%= link_to '削除する',comment_path(comment.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</div>