<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>ログイン</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <h4>会員の方はこちらからログイン</h4>
        
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
        
        <div class="my-5">
          <h3>会員登録がお済みでない方</h3>
          <h5>
            <%= link_to new_customer_registration_path do %>
              こちら
            <% end %>
          　から新規登録してください。
          </h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
